@use './partials/mixin' as *; 
@use './partials/variables' as *; 



.flex{
    display: flex;
    flex-direction: row;
}

.mg-auto{
    margin: 0 auto;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.container{
    max-width: 1000px;
}